.root {
  display: flex;
  justify-content: center;
  align-items: center;

  li {
    display: inline-block;
  }

  a {
    font-weight: 600;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 1px solid #fe5f1e;
    border-radius: 30px;
    margin-right: 7px;
    cursor: pointer;

    &:hover {
      background-color: #fe5f1e;
      color: #fff;
    }
  }

  :global {
    .selected {
      a {
        background-color: #fe5f1e;
        color: #fff;
      }
    }
  }
}
